html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.mySpanMargin {
    margin-left: 66px;
    color: darkblue;
}

.myATag {
    text-decoration: none;
    margin-right: 6px;
}